//====================================================================================================
.row-top {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12.5px;
    &__column {   
        text-align: left;
        padding-right: 80px;
        &:last-child{
            padding-right: 0;
        }
        > p{
            padding-bottom: 3px;
            line-height: 1.15;

            &:first-child{
                font-weight: 700;
                padding-bottom: 6px;
            }
        }
    }
}
.left-column, .right-column{
    position: relative;
}
.left-column::before{
    content: '';
    display: inline-block;
    background: url(../img/icons/phone-icon.webp) center/cover no-repeat;
    width: 40px;
    height: 100%;

    position: absolute;
    left: -50px;
    top: 10px;
    background-size: 40px 40px;

}
.right-column::before{
    content: '';
    display: inline-block;
    background: url(../img/icons/compass-icon.webp) center/cover no-repeat;
    width: 40px;
    height: 100%;

    position: absolute;
    left: -50px;
    top: 9px;
    background-size: 40px 40px;

}
.top-header__logo{
    text-align: center;
}


//====================================================================================================

.menu {
    margin-bottom: 90vh;

    &__body {
        background-color: #13202a;
        width: 100%;
        height: 60px;
    }

    &__sub-list {
        position: absolute;
        top: 100%;
        min-width: 200px;
        background-color: #fff;
        -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
       
        &>li{
            margin: 20px 0 30px 7px;
            width: 100%;
            height: auto;
            position: relative;
            &::after{
                content: '';
                background-color: rgba(128, 128, 128, 0.3);
                height: 1.5px;
                width: 100%;
                position: absolute;
                left: -7px;
                bottom: -12px;
                z-index: 100;
            }
            
        }
        >li:last-child{
            &::after{
                display: none;
            }
            margin: 20px 0 12px 7px;
        }
        

    }
    &__sub-link {
        color: #13202a;
        position: relative;
        &:hover{
            color: #ff0616;
        }
       font-size: 14px;

       padding-right: 7px;
    }
}




//====================================================================================================
@media (min-width:767px){
    .header {
        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        background: #fff;
        flex: 0 0 auto;
    }
    .menu__list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        
    }
    .menu__list > li{
        position: relative;
        padding: 7px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 100%;
    } 
    .menu__link{
        position: relative;
        color: #fff;
        font-size: 16.5px;
        cursor: pointer;
    }
    
    .menu__sub-list{
        transform: translate(0,10%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease;
    }  
    .wrapper{
    background: url(../img/hero.webp) center/cover no-repeat;
    max-width: 100%;
    height: 100vh;
    }
}

@media (min-width:1182px){
    .menu__list > li{
        padding: 7px 32.4px;
        border-right: 2px solid rgba(128, 128, 128, 0.116);
    }
}


// @media (max-width:767.98px){
//     .header{
//         background-color: rgba(#2b2e4a,0.2);
//     }
//     .top-header{
//         border-bottom: 3.7px solid #ff0617;
//     }
//     .menu{
//     background: url(../img/hero.webp) center/cover no-repeat;
//     max-width: 100%;
//     height: 90vh;
//     &__body{
//         height: 0;
//     }
//     margin-bottom: 55px;
//     }
//     .row-top{
//     padding: 0 50px;
//     }
//     .left-column::before{
//         content: '';
//         display: inline-block;
//         width: 35px;
//         height: 35px;
//         border-radius: 15%;
    
//         position: absolute;
//         left: -40px;
//         top: 20px;
//         background-size: 30px 30px;
//     }
//     .right-column::before{
//         content: '';
//         display: inline-block;
//         background: url(../img/icons/compass-icon.webp) center/cover no-repeat;
//         width: 30px;
//         height: 30px;
//         border-radius: 15%;
    
//         position: absolute;
//         left: -40px;
//         top: 20px;
//         background-size: 30px 30px;
    
//     }
//     .top-header{
//         position: relative;
//         &::before{
//             content: '';
//             position: absolute;
//             width: 120%;
//             height: 100%;
//             bottom: -2px;
//             left: -10px;
//             background: url(../img/wave.svg) center/cover no-repeat;
//         }
//     }

//     .row-top{
//         font-size: 14px;
//         font-weight: 500;
//     }
// }

// @media (max-width:479.98px){
//     .top-header__row{
//         display: none;
//     }
//     .top-header{
    
//         &::before{
//             position: relative;
//         }
//     }
// }

//===============================================================================================
body._pc .menu__list > li,body._touch .menu__list > li._active{
    &:hover::after{
        content: '';
        background-color: #ff0616;
        height: 5px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }    
    
}
body._pc{
    .hover-triangle:hover::before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: -10px;
        border-style: solid;
        border-color: #ff0617 transparent transparent transparent;
        border-width: 10px 8.5px 0 8.5px;
        z-index: 10;
    }        
}

body._pc .menu__list > li:hover .menu__sub-list{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translate(0,0);
}
.menu__arrow{
    display: none;
}

body._touch > li{
    display: flex;
    justify-content: center;
    align-items: center;
}

body._touch .menu__link{
    flex: 1 1 auto;
    
}
body._touch .menu__arrow{
    display: block;
    width: 0;
    height: 0;
    transition: transform 0.3s ease;
    margin: 0 0 0 7px; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
}

body._touch .menu__link{
    font-size: 14px;    
}
body._touch .menu__list > li._active .menu__sub-list{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translate(0,0);
}

body._touch .menu__list > li._active .menu__arrow{
    transform: rotate(-180deg);
}

//===============================================================================================





//====================================================================================================

