//====================================================================================================
.home-gallery {
    margin-bottom: 40px;
    &__images{
    margin-top: 20px;
    display: grid;}

    &__buttons {
        text-align: center;
        line-height: 2.5;
    }

    

    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        &:hover{
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
    }
}
.buttons-gallery {
    &__btn {
        font-size: 17px;
        background-color: transparent;
        padding: 7px 7px 0 7px;
        font-weight: 500;
        color: gray;
        transition: all 0.3s ease;
        &::after{
            content: '';
            transition: all 0.3s ease;
            position: absolute;
            height: 1.5px;
            width: 100%;
            background-color: #ff0617;
            left: 0;
            bottom: -5px;
            border-radius: 20%;
            opacity: 0;
        }
    }
}

.mixitup-control-active{
    color: #ff0617;
    position: relative;
    &::after{
    opacity: 1;
    }

}
//====================================================================================================
@media (max-width:767.98px){
    .home-gallery {
    &__images {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px 30px;
    }
    &__link{
        > img{
            border-radius: 5%;
    
        }
    }
}
}
@media (min-width:767.98px){
    .home-gallery {
    &__images {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap: 15px 20px;

    }

    &__link{
        overflow:hidden;
        &:first-child{
            grid-row: span 2;
            grid-column: span 2;
    }
    &:last-child{
        display: block;
    }
    }
}}

@media (max-width:479.98px){
    .home-gallery{
    &__images{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 20px 0px;
    }
   }
    

}
@media (min-width:479.98px){
    .home-gallery{
    &__link {
        &:last-child{
            display: none;
        }
    }}

}

//====================================================================================================
.feedbacks {
    position: relative;
    margin-bottom: 50px;
    padding-top: 35px;
&::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 1px, #e5e5f7 1px);
    background-size: 20px 20px;
    z-index: -1;
}


    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -15px;
    }


    &__item {
        margin-left: 15px;
        font-weight: 200;
    }
}
.item-feedbacks {
    &__quote {
        background-color: #fff;
        padding: 20px 30px;
        font-size: 13px;
       line-height: 1.35;
       color:#373131ab;;
       font-weight: 500;
       position: relative;
       border-radius: 15px;
       &::before{
        content: '';
        position: absolute;
        background: url(../img/icons/left-quotes-sign.svg) center/cover no-repeat;
        top: 13px;
        left: 20px;
        width: 23px;
        height: 20px;
    
    }
       &::first-letter{
        margin-left: 16px;
       }

       @media (max-width:991px){
        min-height: 156px;
       }
    }
    


    &__user {
        margin: 35px 0 80px 0;
        >p{
            margin-bottom: 8px;
            font-weight: 500;
            color: #515273;
        }
    }

}
.user-item {
    text-align: center;

    &__image {
        width: 80px;
        height: 80px;
        margin-bottom: 15px;

    }

}
//====================================================================================================
@media (max-width:767.98px){
    .feedbacks{
        &__items{
            flex-direction: column;
            // max-width: 340px;
        }
    }
    .item-feedbacks__quote{
        min-height: 0;
    }
}

//====================================================================================================
.news-items {
display: flex;
justify-content: center;
align-items: center;
max-width: 100%;
margin-left: -30px;
margin-bottom: 100px;
}
.news-item {
flex: 1 1 50%;
margin-left: 30px;
position: relative;
overflow: hidden;
    &__date{
        background-color: #ff0617;
        font-size: 21px;
        width: 60px;
        position: absolute;
        top: 0;
        right: 20px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 55px;
        z-index: 2;
    }
	&__image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        &:hover{
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
    }
    &__subtitle{
        font-size: 16px;
        margin: 20px 0 15px 0;
        font-weight: 500;
        color: #65666f;
    }
    &__content{
        color: #65666f;
        font-size: 14px;
        text-transform: none;
    }
}
//====================================================================================================
@media (max-width:767px){
    .news-items{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 20px 0;
    }
    .news-item{
        margin: 0;

        &__content{
            font-size: 17px;
            margin-bottom: 10px;
        }
    }
}


//====================================================================================================